@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stack Overflow Lite</h1>
    <p><a href="https://github.com/rayhanul17/StackOverflow">building this apps with ASP.NET Core & NHibernate</a></p>
</div>
