@model AnswerEditModel
@{
    ViewData["Title"] = "Answer Edit";
}

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" method="post" asp-antiforgery="true" asp-action="Edit" asp-controller="Answer" asp-area="Admin">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="OwnerId" />
                    <input type="hidden" asp-for="TimeStamp" />
                    <input type="hidden" asp-for="VoteCount" />
                    <input type="hidden" asp-for="IsApproved" />
                    <input type="hidden" asp-for="QuestionId" />
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Description">Question Tittle</label>
                            <input type="text" class="form-control" asp-for="Description" placeholder=@ViewData["Title"]>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->
@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}
